PORT=3000
API_KEY=
NODE_ENV=production

# Proxy Configuration
PROXY_ENABLED=false
PROXY_LIST=http://username:password@proxy.example.com:8080
PROXY_STICKY_SESSIONS=false

# CAPTCHA Solver Configuration
CAPTCHA_SOLVER=capsolver
CAPTCHA_API_KEY=
